h1 {
  text-align: center;
  text-decoration-color: #000;
  font-size: 2rem;
  margin-top: 50px;
}


.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 50px;
  background-color: #FFF7D7;

  label {
    font-size: 1.5rem;
    color: #000;
  }

  textarea {
    resize: none;
    width: 80%;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
  }
}

.suggestions__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.suggestions__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

  color: #000;

  textarea {
    height: 400px;
  }
}

.suggestions__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;

  color: #000;


  label {
    text-align: left;
    width: 80%;
    margin-top: 30px;
  }

  textarea {
    height: 50px;
    margin-top: 5px;
  }

  select {
    width: 80%;
    height: 50px;
    margin-top: 5px;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    padding: 5px;

    option {
      background-color: #fff;
      color: #000;
    }
  }

  button {
    width: 80%;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
    margin-top: 30px;
  }
}

.countdown {
  text-align: left;
  width: 80%;
  margin-top: 5px;
  font-size: 0.9rem;
  color: #000;
}

.hidden {
  display: none;
}

.error {
  margin-bottom: 0;
}
.success {
  margin-bottom: 0;
}

.showModal__text {
  background-color: #FFF7D7;
  width: 100%;
  margin: 0;
  padding-bottom: 50px;
  text-decoration: underline;
  cursor: pointer;
  color: #000;
  font-size: 1.5rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h1 {
      font-size: 26px;
      padding: 0;
      margin: 0;
    }
  }
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: start;

  max-height: 400px;
  max-width: 75%;
  overflow-y: auto;

  li {
    color: #000;
    font-size: 16px;
    margin: 0;
  }
  p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .suggestions__container {
    flex-direction: column;
    align-items: center;
  }

  .suggestions__left {
    width: 100%;
  }
  .suggestions__right {
    width: 100%;
  }
}